.announcementcontainer .txt {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.017em;
  color: #cbe4ed;
}

.announcementcontainer {
  background-color: #507b8b;
  height: auto;
  width: 100%;
  font-family: "Poppins";
}

.announcementcontainer h1 {
  margin: 0;
  padding-top: 2.37%;
  padding-bottom: 0.84%;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.017em;
  color: #ffffff;
}

.announcementcontainer .btn,
.announcementcontainer .btn:hover,
.announcementcontainer .btn:focus {
  background-color: #4590d1 !important;
  width: auto;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff !important;
}

.announcementcontainer .card-subtitle {
  margin: 0px;
  color: #679baf;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.017em;
}

.announcementcontainer .card-title {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.017em;
  color: #123552;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.announcementcontainer .card-text {
  margin: 0;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.017em;
  color: #011220;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.announcementcontainer .card .btn,
.announcementcontainer .card .btn:focus {
  margin: 0;
  background-color: #679baf !important;
  width: 156px;
  color: white !important;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 22px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcementcontainer .line {
  width: 108px;
  height: 5px;
  background: #7ebcd3;
  border-radius: 6px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.84%;
  margin-bottom: 3.5%;
}
.announcementcontainer .swiper {
  width: 90%;
}

.announcementcontainer .swiper .card {
  margin-left: 2.38%;
  margin-right: 2.38%;
  width: auto;
  height: 566px;
  filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
}

.announcementcontainer .swiper img {
  width: auto;
  height: 284px;
  position: relative;
}
.announcementcontainer .swiper-button-next,
.announcementcontainer .swiper-button-prev {
  color: white !important;
  position: absolute;
  transform: translateY(-50%);
  width: 5%;
  height: max-content;
  z-index: 1;
  text-decoration: none;
  display: contents;
  color: white !important;
}
.announcementcontainer .slider {
  display: flex;
  align-items: center;
}
.announcementcontainer .slider .next,
.announcementcontainer .slider .prev {
  width: 5%;
  display: flex;
  justify-content: center;
  height: 566px;
  align-items: center;
  background: rgba(178, 215, 229, 0.1);
  color: #ffffff !important;
}

@media (min-width: 429px) and (max-width: 834px) {
  .announcementcontainer .swiper-button-next,
  .announcementcontainer .swiper-button-prev {
    display: none !important;
  }
  .announcementcontainer .swiper .card {
    margin: 0px;
    margin-right: 6%;
  }
  .announcementcontainer .swiper {
    padding: 0;
    padding-left: 2.7%;
    padding-right: 2%;
  }
}
@media screen and (max-width: 428px) {
  .announcementcontainer .swiper-button-next,
  .announcementcontainer .swiper-button-prev {
    display: none !important;
  }
  .announcementcontainer h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.017em;
  }
  .announcementcontainer .txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.017em;
    color: #cbe4ed;
  }
  .announcementcontainer .swiper {
    padding: 0;
    padding-left: 3.4%;
    padding-right: 2%;
  }
  .announcementcontainer h1 {
    padding: 0;
    padding-top: 4%;
    margin-bottom: 2.9%;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .announcementcontainer .swiper .card {
    margin: 0;
    margin-right: 5%;
  }
  .announcementcontainer .txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .announcementcontainer .line {
    margin-top: 2%;
    margin-bottom: 4.9%;
  }
  .announcementcontainer .card-title {
    font-size: 16px;
  }
  .announcementcontainer .card-subtitle,
  .announcementcontainer .card-text {
    font-size: 14px;
  }
}
