.slidercontainer {
  background-color: #415e75;
  height: 460px;
  width: 100%;
  font-family: "Poppins";
}

.slidercontainer img {
  height: 460px;
}

.slidercontainer .carousel-caption {
  left: 11.4%;
  width: 40%;
  padding: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slidercontainer .carousel-caption .sliderbigtitle {
  font-weight: 700;
  font-size: 84px;
  line-height: 67px;
  letter-spacing: -0.017em;
  color: #ffffff;
  text-align: left;
}

.slidercontainer .carousel-caption .slidertext {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.017em;
  color: #ffffff;
  text-align: left;
  padding-top: 5%;
}

.slidercontainer .carousel-caption .slidertitle {
  text-align: left;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.017em;
  color: #ffffff;
  padding-bottom: 3.3%;
}
.slidercontainer .carousel-control-prev,
.slidercontainer .carousel-control-next {
  background: rgba(178, 215, 229, 0.1);
  color: #ffffff !important;
  width: 79px;
}
.slidercontainer .carousel-control-next-icon {
  background-image: url(../img/icons/next.svg) !important;
}
.slidercontainer .carousel-control-prev-icon {
  background-image: url(../img/icons/prev.svg) !important;
}
@media (min-width: 429px) and (max-width: 834px) {
  .slidercontainer .carousel-caption {
    width: 69%;
  }
}

@media screen and (max-width: 428px) {
  .slidercontainer,
  .slidercontainer img {
    height: 300px;
  }

  .slidercontainer .carousel-caption .sliderbigtitle {
    font-weight: 700;
    font-size: 47.8411px;
    line-height: 39px;
  }

  .slidercontainer .carousel-caption .slidertext {
    font-weight: 400;
    font-size: 11.3907px;
    line-height: 14px;
  }

  .slidercontainer .carousel-caption .slidertitle {
    font-weight: 400;
    font-size: 15.947px;
    line-height: 21px;
  }
  .slidercontainer .carousel-caption {
    left: 11.4%;
    width: 75%;
  }
  .slidercontainer .input-group {
    width: fit-content;
  }
  .slidercontainer .search {
    display: flex;
    justify-content: flex-end;
  }
  .slidercontainer .carousel-control-prev,
  .slidercontainer .carousel-control-next {
    display: none;
  }
}
