.linkscontainer {
  background-color: #a19c8e;
  height: auto;
  width: 100%;
  font-family: "Poppins";
}

.linkscontainer .line {
  width: 108px;
  height: 5px;
  background: #e2ded5;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.84%;
  margin-bottom: 3.5%;
}

.linkscontainer .txt {
  color: #e2ded5;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.017em;
}

.linkscontainer h1 {
  margin: 0;
  padding-top: 2.37%;
  padding-bottom: 0.84%;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.017em;
  color: #ffffff;
}

.linkscontainer .btn,
.linkscontainer .btn:hover {
  background-color: #4590d1 !important;
  width: auto;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff !important ;
}
.linkscontainer .swiper {
  width: 90%;
}

.linkscontainer .swiper .card {
  margin-left: 3.1%;
  margin-right: 3.1%;
  width: auto;
  height: 214px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}

.linkscontainer .swiper img {
  width: 100%;
  height: auto;
  position: relative;
  padding-left: 34px;
  padding-right: 34px;
  max-height: 200px;
}
.linkscontainer .swiper-button-next,
.linkscontainer .swiper-button-prev {
  color: white !important;
  position: absolute;
  transform: translateY(-50%);
  width: 5%;
  height: max-content;
  z-index: 1;
  text-decoration: none;
  display: contents;
}
.linkscontainer .slider {
  display: flex;
  align-items: center;
}
.linkscontainer .slider .next,
.linkscontainer .slider .prev {
  width: 5%;
  display: flex;
  justify-content: center;
  height: 161px;
  align-items: center;
  background: rgba(178, 215, 229, 0.1);
  color: #ffffff !important;
}

@media (min-width: 429px) and (max-width: 834px) {
  .linkscontainer .swiper-button-next,
  .linkscontainer .swiper-button-prev {
    display: none !important;
  }
  .linkscontainer .swiper {
    padding: 0;
    padding-left: 2.7%;
    padding-right: 4%;
  }
}

@media screen and (max-width: 428px) {
  .linkscontainer .swiper-button-next,
  .linkscontainer .swiper-button-prev {
    display: none !important;
  }

  .linkscontainer .swiper {
    padding: 0;
    padding-left: 3.4%;
  }
  .linkscontainer h1 {
    padding: 0;
    padding-top: 4%;
    margin-bottom: 2.9%;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .linkscontainer .swiper .card {
    margin: 0;
    margin-right: 5%;
  }
  .linkscontainer .txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .linkscontainer .line {
    margin-top: 2%;
    margin-bottom: 4.9%;
  }
}
